*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.article1 {
  display: flex;
  justify-content: center;
}
.userPart {
  display: inline-grid;
  justify-items: stretch;
}
.input-color {
  border: 1px solid red;
  border-radius: 10px;
  padding: 3px 0px;
}
.error-hint {
  color: red;
  margin-top: 2px;
  font-size: 10px;
  visibility: hidden;
}
.error-show {
  visibility: visible;
}
.userPart > h3 {
  margin: 20px 0px;
}
.inputList {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px 0px;
}
.userPart > button {
  border-radius: 10px;
  border: 1px solid black;
  padding: 3px 0px;
  margin: 20px 0px;
  background-color: aquamarine;
}
.color-name {
  color: darkblue;
}
.article2 {
  background-color: bisque;
  display: flex;
  justify-content: center;
  margin: 1rem 12rem;
  border: 2px solid white;
  border-radius: 17px;
  padding: 30px 70px;
  visibility: hidden;
}
.userPart2 > img {
  background-size: contain;
  margin: 0px 32px;
}
.userPart2 > input {
  background-color: bisque;
  border: 1px solid bisque;
}
.userPart2 > h4 {
  margin: 16px 0px;
  font-size: 17px;
}
