.list_form {
  @include parent_width;

  background: transparent;
  z-index: 100;
  position: relative;
}
.list_style {
  list-style-type: none;
  @include column;
  gap: 2px;
  font-size: $spacer1 * 2;
  width: 100%;
}
.menu_list > a {
  color: rgba(255, 255, 255, 0.5);
}
.first_style > a {
  color: $text_color;
}
.menu {
  width: 89vw;
  @include column;
}
.logo {
  letter-spacing: 0.2em;
  font-weight: 400;
  font-size: 20px;
  line-height: inherit;
  white-space: nowrap;
  margin-left: 4rem;

  display: inline-block;
}
.logo > a {
  color: #fff;
}
.photo_type {
  @include parent_width;
}
.photo_type ::before {
  content: "";

  width: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../pictures/big_image_1.jpg.webp);
  min-height: 750px;
  height: 116vw;
  background-size: cover;
  background-position: 0% 0%;
  background-attachment: fixed;
}
.photo_type ::after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-height: 750px;
  height: 116vw;
  background-attachment: fixed;
}
