*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
section,
form {
  margin: 20px 20px;
}
div {
  padding-top: 10px;
}
div:hover {
  background-color: rgb(93, 99, 99);
  color: #fff;
}
