.title_tag {
  color: $main_text_color;
}
.header_class {
  @include parent_width;
  @include column;
  z-index: 100;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: sticky;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
}
.table {
  font-weight: 600;
  color: $main_text_color;
  font-size: 15px;
  @include column;
  gap: 23px;
  color: #00044a;

  a {
    position: relative;
  }
  & > a::after {
    content: "";
    width: 0;
    height: 3px;
    display: block;
    background-color: $primary_color;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    transform: translateX(0);
    transition: all 0.3s ease-out 0s;
    z-index: 1;
  }
  & > a:hover::after {
    transform: translateX(1);
    width: 100%;
  }
  & > a:hover {
    color: $primary_color;
  }
}
.button {
  @include button(
    $background: $secondary_color,
    $hover_background: $secondary_color
  );
}
.secondary_button {
  @include button(
    $background: $primary_color,
    $hover_background: $secondary_color
  );
}
.navigation {
  @include column;
  gap: 10px;
}
.container {
  background-color: $color_bg;

  width: 100%;
  min-height: 120vh;
  position: relative;
  &::before {
    content: "TALENTS";
    display: block;
    font-size: 19vw;
    font-weight: 900;
    color: #fff;
    width: 90vw;
    position: absolute;
    bottom: -7vw;
    left: 0vw;
  }
}

.article_menu {
  @include parent_width;
  @include column;
  padding-top: 10vh;
}
.business > img {
  width: 50vw;
  display: inline-block;
}

.business_note {
  padding-left: $spacer;
  & > h2 {
    font-size: 4vw;
    font-weight: 700;
    color: #00044a;
    text-transform: capitalize;
    display: block;
    margin-bottom: 2rem;
  }
  & > p {
    font-size: $spacer * 2;
    font-weight: 400;
    line-height: 1.8;
    color: $light_text_color;
  }
  & > a {
    @include button(
      $background: $primary_color,
      $hover_background: $secondary_color
    );
    font-size: $spacer * 2;
    margin-top: $spacer;
  }
}
