$primary_color: #007bff;
$secondary_color: #ffa41b;
$color_bg: #fff;
$main_text_color: #090f35;

$light_text_color: rgba(255, 255, 255, 0.5);
$font_family: "Montserrat", "Noto Sans", sans-serif;
$spacer: 8px;
